/* styles.css */

/* Устанавливаем цвет текста списка */
.works-list {
    color: #365f91; /* Цвет текста */
}

/* Устанавливаем стиль маркеров для пунктов списка первого уровня */
.works-list > li {
    list-style-type: square; /* Квадратный маркер для первого уровня */
}

/* Устанавливаем стиль маркеров для пунктов списка второго уровня */
.works-list li ul {
    list-style-type: circle; /* Пустой круг для второго уровня */
}
